.text-input {
  position: relative;

  .label {
    width: 100%;
  }

  .text-box {
    border-style: solid;
    border-width: 1px;
    border-color: theme("colors.gray.40");
    color: theme("colors.black.20");
  }

  .text-box:focus {
    outline: none;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;

  label {
    color: theme("colors.gray.30");
    font-size: 11px;
    letter-spacing: 1.13px;
    text-transform: uppercase;
  }

  input {
    border-radius: 5px;
    border: 1px solid #e0e7ff;
    background-color: rgba(224, 231, 255, 0.2);
    height: 39px;
    margin-top: 6px;
    font-size: 15px;
    padding: 0 10px;

    &:focus {
      outline: none;
    }

    &:disabled {
      @apply bg-secondary-10;
    }
  }
}

.border-grey {
  border-color: #e0e7ff;
}
