.profile-grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 9% auto;
  padding: 0% 2% 2% 2%;
}

.title-div {
  padding-top: 1%;
  grid-column: 1 / 4;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 5px;
}

.main-container {
  // width: 60%;
  min-height: 34rem;
}

.select-style {
  border: 2px solid #f6f6f6;
  margin-left: 20px;
}

.input-label-style {
  margin-left: 20px;
}

.test-padding {
  padding: 0 0 0 0 !important;
}
.column-oriented {
  flex-direction: column;
}

.grey-input {
  background-color: #f6f6f6;
}

.label-color {
  color: #9d9d9d;
}

.generate-keys {
  color: #00a2ff;
}

button:hover {
  color: #00a2ff;
}

.merge-div {
  padding-top: 1%;
  grid-column: 1 / 4;
}
.responsive-height {
  height: calc(100vh - 440px);
}
