:root {
  --color-primary-10: #469fef;
  --color-primary-20: #3a1c46;

  --color-secondary-10: #e5e5e5;
  --color-secondary-20: #f2f2f2;
  --color-secondary-30: rgba(47, 128, 237, 0.03);
  --color-secondary-40: rgba(242, 246, 249, 0.6);
  --color-secondary-50: #eaeaea;
  --color-secondary-60: #f7fafe;
  --color-secondary-70: #fafafa;

  --color-gray-10: #f6f6f6;
  --color-gray-20: #7e899d;
  --color-gray-30: #696f79;
  --color-gray-40: #8692a6;
  --color-gray-50: #828282;
  --color-gray-60: #f8f9fa;
  --color-gray-70: #506883;
  --color-gray-80: #e0e0e0;
  --color-gray-90: #979797;
  --color-gray-100: #f9f9f9;

  --color-white: #ffffff;

  --color-black-10: #000000;
  --color-black-20: #1e1e1e;
  --color-black-30: #081f32;
  --color-black-40: #333333;
  --color-black-50: #4f4f4f;

  --color-green: #27ae60;

  --color-blue-10: #5199fc;
  --color-blue-20: #1c57ad;
  --color-blue-30: rgba(47, 128, 237, 0.08);
  --color-blue-40: rgba(47, 128, 237, 0.04);

  --color-red: #bd0303;

  --color-maroon-10: #6f0000;
  --color-maroon-20: rgba(193, 58, 16, 0.06);

  --color-purple-10: #6f0063;
  --color-purple-20: rgba(126, 16, 193, 0.06);
}
