.home-screen {
  @apply bg-gray-10;
  @apply text-black-10;
  height: 100vh;
  padding: 24px;
}

.layout-home {
  display: flex;
  align-items: stretch;
  gap: 15px;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: max-content 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  height: calc(100vh - 44px);
  transition: 1s;
}

.page-banner {
  grid-area: 1 / 1 / 2 / 7;
}

.dashboard-news-container {
  grid-area: 2 / 1 / 7 / 4;
}

.dashboard-weather-container {
  grid-area: 2 / 4 / 4 / 7;
}

.dashboard-jobs-container {
  grid-area: 4 / 4 / 7 / 7;
}
