.left-side-bar-container {
  max-width: 560px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  //.mg-logo {
  //  margin-top: 5%;
  //  margin-left: 6%;
  //}

  .dc-align {
    display: inline;
    width: 42%;
    position: relative;
  }

  .left-heading {
    //top: -18%;
    position: relative;
    left: 18%;
  }

  .dots-section {
    margin: 4px;
  }

  .footer {
    padding-left: 32px;
    padding-bottom: 28px;

    .terms {
      padding-top: 22px;
    }
  }
}
