.weather-container {
    height: 100%;
    width: 100%;
    margin-top: 10px;
}

/*.ow-row {*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    margin-bottom: 4%;*/
/*}*/

/*.ow-row:last-child {*/
/*    margin-bottom: 0;*/
/*}*/

/*.ow-ico {*/
/*    line-height: 1.1em;*/
/*}*/

.weather-container .pull-left {
    float: left;
}

.weather-container .pull-right {
    float: right;
}

.ow-city-name {
    letter-spacing: 1px;
    line-height: 1.111em;
    font-weight: bold;
    font-size: 24px;
}

.current-icon {
    font-size: 38px;
    width: 2em;
}

.sub-icon {
    font-size: 60px;
    width: 0.8em;
}

.temp-current {
    font-size: 30px;
    /*margin: 20px 5%;*/
}

/*.ow-forecast-item {*/
/*    float: left;*/
/*    width: calc(25% - 1px);*/
/*    text-align: center;*/
/*    border-right: 1px solid white;*/
/*}*/

/*.ow-forecast-item:last-child {*/
/*    border-right: 0;*/
/*}*/

/*.ow-forecast-item .ow-ico-forecast {*/
/*    font-size: 30px;*/
/*    position: relative;*/
/*    margin: 10px 0;*/
/*}*/

.ow-forecast-item .ow-forecast-temp span {
    display: inline-block;
    margin: 0 5px;
}

